# ===================================================================
# tpRigToolkit-tools-symmesh requirements file
# ===================================================================
tpRigToolkit-core